@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Muli|Rubik|Titillium+Web");
/* [[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[ FONTS ]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]] */
/* 
font-family: 'Muli', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Titillium Web', sans-serif; 
*/

/* [[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[ STRUCTURE ]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]] */
body{
    font-family: 'Titillium Web', sans-serif; 
}